.sendBtn {
  /* background: #1a3673; */
   border-radius: 50px;
  aspect-ratio: 1;
  /*height: 56%; */
  position: absolute;
  /* height: 12.2%;
  top: 82.8%;
  right: 15px; */
  height: 58.2%;
    top: 20.8%;
    right: 7px;
  /* top: 22%;
  right: 14px; */
  border-top-left-radius: none !important;
  border-bottom-left-radius: none !important;
}
 
input#chat-input {
  border: 1px solid #d5d0d0;
  border-radius: 7px;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 13.5px;
  width: 100%;
  height: 20px;
  outline: none;
  resize: none;
  padding: 20px;
  box-shadow: 1.7px 1.4px 5.4px hsl(0deg 0% 0% / 0.2);
 
}
 
input#chat-input:focus {
 
  border-color: #0eb9f2;
}
 
.input-group-addon {
  border: 1px solid #d5d0d0;
}
 
.blanter-msg {
  display: inline;
  position: absolute;
  left: 32%;
  width: 45%;
  bottom: 0;
  border-top: solid 1px var(--primary-bg);
}
 
 
.blanter-msg form {
  padding: 1rem;
}
 
.navbarfixed {
  box-shadow: -1px -4px 14px #000;
  background-color: #1a3673 !important;
  /* background-image: -webkit-linear-gradient(left, #00bbba, #44b8f3 37.5%); */
 
}
 
.sidebar {
  box-shadow: -1px -3px 10px grey;
}
 
.main-content {
  background: #ece9e9;
}
 
.start-chatbot-fullscreen {
  bottom: 40px;
    position: absolute;
    top: 106px;
    width: 100%;
    border-radius: 0.75rem;
    background: #fff;
    box-shadow: 1px 2px 10px #bebbbb;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 1;
}
 
.newChat-btn {
  position: absolute;
  bottom: 30px;
  background-color: #1a3673;
}
 
.chat-assist {
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
 
/* .logo {
  flex-basis: 200px;
} */
 
.header-searchbar {
  flex-basis: 300px;
}
 
/* Dashboard.css */
 
/* Basic styling for the chat log */
.chat_message {
  max-width: 80%;
  border-radius: 15px;
  color: #1a3673;
  padding: 15px;
  line-height: 2;
  font-weight: 600;
  position: static;
  margin: 20px auto;
  clear: both;
  box-shadow: 0px 0px 7px #898080;
}
 
/* Styling for assistant messages */
 .chat_message.ai {
   background-color: #fff !important;
  color: #1a3673;
  float: left;
  margin-left: 25px;
}
 
/* Styling for user messages */
 .chat_message:not(.ai) {
  background-color: #e0f7fa !important;
  color: #1a3673;
  float: right;
  margin-right: 25px;
} 
 
 
.chat-container {
  width: 100%;
    overflow-x: hidden;
    height: 64vh;
    padding: 1rem;
    overflow-y: auto;
}
 
/* Avatar styling */
.avatar {
  margin-right: 11px;
} 
 
/* Message text styling */
.message {
  font-size: 13.5px;
  line-height: 1.5;
  word-break: break-word;
  margin: 0 10px;
}
 
/* Error message styling */
.error-message {
  color: #ff4c4c;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
 
.center-text {
  margin-top: 10px;
  font-size: 16.5px;
  font-weight: 600;
  color: #1a3673;
}
 
#root>div.flex.h-screen.main-content>div.start-chatbot-fullscreen>div.center-container>div>div>img {
  width: 50px !important;
  height: 50px !important;
}
 
.container {
  display: flex;
}
 
/* .container img {
  width: 100%;
} */
 
.container .image {
    flex-shrink: 0;
}
 
.chat_message:not(.ai) .container .info {
  margin-right: 20px;
}
 
.chat_message.ai .container .info {
  margin-left: 20px;
}
 
.feedback-container {
  width: 100%;
  margin-left: 25px;
}
 
.loader {
  width: 100%;
  margin-left: 25px;
}
 
.suggested-prompts-container {
  margin-top: 20px;
  width: 42%;
  position: absolute;
  left: 33.2%;
  bottom: 81px;
}

.suggested-prompts-container h3 {
  font-size: 14px;
  margin-left: 16px;

}

.suggested-prompts {
  display: flex;
    flex-direction: column;
    gap: 10px;
    width: 97%;
    margin-left: 13px;
}
 
.prompt {
  padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    resize: none;
    color: #1a3673;
    box-shadow: 1.7px 1.4px 5.4px hsl(0deg 0% 0% / 0.2);
 
}
 
.prompt-header {
  font-size: 14.5px;
    font-weight: bold;
    color: #1a3673;
    margin-left: 20px;
}
 
.prompt:hover {
  background-color: #e2e6ea;
}
 
.prompt:active {
  background-color: #dae0e5;
}

.center-container {
  margin: 10px 0 30px;
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text */
}

.choose-option {
  width: 287px;
  height: 290px;
  position: relative;
  box-shadow: 2px 18px 70px 0px #9D9D9D;
  overflow: hidden;
  border-radius: inherit;
  padding: 0 !important;
}

.card-heading {
  top: 239px !important;
  left: 10% !important;
  position: absolute !important;
  color: #fff;
}
/* 

.category-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #696a86;
  border: 2px solid #fff;
  position: absolute;
  bottom: -30px;
  left: 268px;
  color: #fff;
  outline: none;
  cursor: pointer;
  z-index: 11;
} */

.lg-text {
  width: 800px;
    height: 290px;
    background: #1a3673;
    position: absolute;
    left: -3%;
    top: -202px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.user-chat-container {
  width: 80%;
    margin-left: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.file-upload-form {
  display: flex;
  justify-content: center;
}

.upload-button {
  background-color: #18181a; /* Primary color */
  color: white;
  border: none;
  padding: 4px 8px;
  font-size: 11px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #135bb5; /* Darker on hover */
}

.upload-status {
  color: red;
}



