body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-80 {
  width: 60rem !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.fixed.z-40.overflow-y-auto.bg-white.p-4.transition-transform.dark\:bg-gray-800.right-0.top-0.h-screen.w-80.transform-none{
  padding: 0 !important;
}

#root > div.fixed.z-40.overflow-y-auto.bg-white.p-4.transition-transform.dark\:bg-gray-800.right-0.top-0.h-screen.w-80.transform-none > div:nth-child(1) > button > svg{
  width: 15px;
  height: 15px;
  color: #fff;
}

#root > div.fixed.z-40.overflow-y-auto.bg-white.p-4.transition-transform.dark\:bg-gray-800.right-0.top-0.h-screen.w-80.transform-none.curved-borderforchat > div:nth-child(2) > div.blanter-msg > form > div > button{
  border-top-left-radius: none !important; 
  border-bottom-left-radius: none !important;
}
